* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: rgb(75, 75, 75);
}

.logo h1 {
  color: rgb(223, 223, 223);
  font-size: 30px;
}

.nav-bar{
  display: flex;
  justify-content: space-around;
  width: 35%;
}

.nav-bar li {
  list-style: none;
}

.nav-bar a {
  color: rgb(223, 223, 223);
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 15px;
}